// ######## Project Variables #######

$mainColor: #8257E5;
$colorPrimaryDark: #774DD6;
$colorPrimaryDarker: #6842C2;
$colorSecondaryDark: #FFD666;
$colorSecondaryDarker: #f8cd57;
$backgroundMainColor: #f7f7f7;
$backgroundSecondaryColor:#e6dff6;
$colorWhite: #FFF;
$colorBlack: #000;
$textTitleColor: #32264D;
$border: #E6E6F0;
$textColor: #6A6180;
$boxShadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;

// ######## Project Variables #######
$fontFamilyNunito: 'Nunito',
sans-serif;

// ######## Properties ########
$borderRadius: 30px;
$spacing: 48px;
$mobileSpacing: 24px;
$sizeBarHeight: 90px;
$minPadding: 10px;
$minMargin: 10px;

// ######## Font Size #########
$fontSizeNormal: 2rem;
$fontSizeMedium: 2.5rem;
$fontSizeLarge: 3.5rem;
$fontSizeButtonText: 1.4rem;
$paddingButton: 20px 45px;
$fontSizeLabel: 2rem;

$fontSizeTitleH1: 5rem;
$fontSizeTitleH2: 4rem;
$fontSizeTitleH3: 3rem;

// #### SCREEN SIZE ####
$mobile-width: 600px;
$tablet-width: 1366px;
$content-size: 900px;