@use '../styles/abstracts/'as *;

.header-container {
    @include flex();
    flex-direction: row;
    top: 0;
    width: 100%;
    background-color: $mainColor;
    position: sticky;
    z-index: 9999;

    .header {
        @include flex(center, space-between);
        flex-direction: row;
        width: 100vw;
        height: $sizeBarHeight;
        padding: 0 $spacing 0;
    }
}