@use '../styles/abstracts/'as *;

.new-shop {
    @include flex();
    flex-direction: column;
    position: relative;
    width: 100%;

    .form {
        @include flex(stretch, center);
        flex-direction: column;
        width: 100%;
        background-color: $colorWhite;
        border-radius: $borderRadius;
        border: 1px solid $border;

        fieldset {
            @include flex();
            flex-direction: column;
            margin: $mobileSpacing;
            border: none;

            legend {
                font-family: $fontFamilyNunito;
                color: $colorPrimaryDarker;
                font-size: $fontSizeTitleH3;
                width: 100%;
                border-bottom: 1px solid $border;
                margin-bottom: $mobileSpacing;
            }

            .grid-block-buttons {
                width: 100%;
                position: relative;
                margin-top: $mobileSpacing;

                label {
                    font-family: $fontFamilyNunito;
                    font-size: $fontSizeLabel;
                    color: $textColor;
                    margin-bottom: $minMargin;
                }

                .two-blocks {
                    width: 100%;
                    margin-top: 0.8rem;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    margin-bottom: 1.2rem;

                    .category {
                        font-family: $fontFamilyNunito;
                        font-size: $fontSizeButtonText;
                        text-transform: uppercase;
                        height: 7rem;
                        background: $backgroundSecondaryColor;
                        border: 1px solid $border;
                        color: $colorBlack;
                        cursor: pointer;
                        padding: 0 $minPadding 0 $minPadding;

                        &:first-child {
                            border-top-left-radius: $borderRadius;
                            border-bottom-left-radius: $borderRadius;
                        }

                        &:last-child {
                            border-top-right-radius: $borderRadius;
                            border-bottom-right-radius: $borderRadius;
                            border-left: 0;
                        }
                    }

                    .category-selected {
                        background: $mainColor;
                        border: 1px solid $mainColor;
                        color: $colorWhite;
                    }
                }
            }

            .textarea-block {
                @include flex(start);
                flex-direction: column;
                width: 100%;
                position: relative;
                margin-top: $mobileSpacing;

                label {
                    font-family: $fontFamilyNunito;
                    font-size: $fontSizeLabel;
                    color: $textColor;
                    margin-bottom: $minMargin;
                }

                textarea {
                    width: 100%;
                    height: 10rem;
                    border: 1px solid $border;
                    background-color: $backgroundMainColor;
                    border-radius: $borderRadius;
                    outline: none;
                    padding: $minPadding;

                }

                &:focus-within::after {
                    content: '';
                    width: calc(100% - 5.3rem);
                    background-color: $mainColor;
                    height: 1.1px;
                    bottom: 0.1rem;
                    left: 2.5rem;
                    position: absolute;
                    border-bottom-left-radius: 200px;
                    border-bottom-right-radius: 200px;
                }
            }
        }
    }

    .uploaded-image {
        @include flex();
        width: 100%;

    }

    .upload-content {
        @include flex();
        width: 100%;
        height: 100%;

        .box-image {
            @include flex();
            flex-direction: row;
            position: relative;
            width: 100%;
            height: 80pt;

            img {
                width: 100%;
                height: 100%;
                border-radius: $borderRadius;
            }

            .close {
                @include flex();
                position: absolute;
                top: 7px;
                right: 7px;
                color: $colorWhite;
                background: $mainColor;
                border-radius: $borderRadius;
                border: 1px solid $mainColor;
                padding: 5px;
                cursor: pointer;
            }
        }

        .btn {
            @include flex();
            width: 100%;
            height: 100%;

            .new-image {
                @include flex();
                margin-bottom: 0;
                width: 100%;
                height: 80pt;
                background: $backgroundMainColor;
                border: 1px dashed $border;
                border-radius: $borderRadius;
                cursor: pointer;

                .icon {
                    color: $mainColor
                }
            }
        }

        .button-container {
            @include flex();
            flex-direction: row;
            width: 100%;
            height: 100%;
        }

    }
}