@use '../styles/abstracts/'as *;

.shop-details {
    @include flex();
    flex-direction: column;
    position: relative;
    width: 100%;

    .details {
        @include flex();
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: $colorWhite;
        border: 1px solid $border;
        border-radius: $borderRadius;

        .image-container {
            @include flex();
            flex-direction: row;
            width: 100%;
            height: 300px;
            border-top-right-radius: $borderRadius;
            border-top-left-radius: $borderRadius;
            background-color: $backgroundSecondaryColor;

            img {
                @include flex();
                width: 100%;
                height: 100%;
                padding: $minPadding;
                border-radius: $borderRadius;
            }
        }

        .images {
            @include flex();
            width: 100%;
            margin-top: $minMargin;

            button {
                width: 100%;
                border: 0;
                height: 100%;
                background: none;
                cursor: pointer;
                border-radius: 2rem;
                overflow: hidden;
                outline: none;
                opacity: 0.6;
                border: 1px solid $backgroundSecondaryColor;

                &.active {
                    opacity: 1;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .details-content {
            padding: $fontSizeLarge;

            h2 {
                color: $mainColor;
                font-size: $fontSizeTitleH2;
                line-height: 5.4rem;
                margin-bottom: 0.8rem;
            }

            p {
                line-height: 2.8rem;
                color: $mainColor;
                margin-top: 2.4rem;
            }

            .map-container {
                margin-top: 4rem;
                background: $backgroundMainColor;
                border: 1px solid $border;
                border-radius: 2rem;

                footer {
                    padding: 2rem 0;
                    text-align: center;

                    a {
                        line-height: 2.4rem;
                        color: $mainColor;
                        text-decoration: none;
                    }
                }

                .leaflet-container {
                    border-bottom: 1px solid $border;
                    border-radius: 2rem;
                }
            }

            h2 {
                font-size: 3.6rem;
                line-height: 4.6rem;
                color: $mainColor;
                margin-top: 3rem;
                margin-bottom: 0.8rem;
            }

            .open-details {
                margin-top: 2.4rem;
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 2rem;

                .hour {
                    @include flex(center, space-between);
                    flex-direction: row;
                    width: 100%;
                    background: $backgroundSecondaryColor;
                    border: 1px solid $border;
                    color: $mainColor;
                    height: 14rem;
                    padding: $minPadding;
                    border-radius: $borderRadius;

                    .icon {
                        margin-right: $minMargin;
                        font-size: $fontSizeMedium;
                    }

                    .info {
                        font-size: $fontSizeNormal;
                        justify-content: space-around;
                    }


                    @include mobile {
                        margin-bottom: $minMargin;
                    }

                    @include tablet {
                        @include flex(center, start);
                        flex-direction: row;
                        margin-bottom: $minMargin;
                    }
                }

                .open-on-weekends {
                    @include flex(center, space-between);
                    width: 100%;
                    height: 14rem;
                    background: $backgroundSecondaryColor;
                    color: $mainColor;
                    border-radius: $borderRadius;
                    padding: $minPadding;

                    .icon {
                        margin-right: $minMargin;
                        font-size: $fontSizeMedium;
                    }


                    .info {
                        font-size: $fontSizeNormal;
                        justify-content: space-around;
                    }

                    &.dot-open {
                        background: $colorSecondaryDarker;
                        color: $colorWhite;
                    }

                    @include tablet {
                        @include flex(center, start);
                        flex-direction: row;
                        margin-bottom: $minMargin;
                    }
                }

                @include mobile {
                    @include flex();
                    flex-direction: column;
                }
            }

            .button-container {
                margin-top: $fontSizeLarge;
            }
        }
    }

}